.btn-contact {
  //color: #4A4A4A;
  //border: 1px solid #4A4A4A;
  color: rgba(60,51,43,1);
  border: 1px solid rgba(60,51,43,1);
  padding: 15px 30px;
  border-radius: 4px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  margin: auto;
};

.btn-contact:hover {
  opacity: 0.6;
}
