.card-about {
  overflow: hidden;
  height: 100vh;
  background: white;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  h1, h2, p {
  font-family: 'Rawengulk';
  }
  h1 {
  font-weight: lighter;
  font-size: 74px;
  //opacity: .7;
  letter-spacing: 7px;
  text-align: center;
  margin-top: -2rem;
  }
  h2 {
  font-weight: regular;
  font-size: 24px;
  letter-spacing: 7px;
  text-align: center;
  margin: 0;
  }
  p {
  font-weight: regular;
  font-size: 16px;
  text-align: justify;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 40px;
  margin-top: 8px;
  }
}

#card-about-image {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  //background-position: 50% 50%;
  min-height: 1000px;
  height: 100vh;
  min-width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  //margin-top: 20px;
  font-family: 'Petit Formal Script';
  //font-weight: bold;
  font-size: 88px;
  color: rgba(250,250,250,0.7);
  //opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  letter-spacing: 1px;
}

.card-about .cards {
  //padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem;
}
