.faq-container {
  overflow: hidden;
  height: 30vh;
  background: rgba(98,17,11,1); /* red w/ opacity */
  display: flex;
  // justify-content: center;
  // align-items: center;
}

.cards-faq {
  // padding-left: 4%;
  // padding-right: 4%;
  // max-width: 900px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // flex-wrap: wrap;
  margin: auto 5%;
}

.card-body {
  color: white;
  position: relative;
  h1, h2 {
  font-family: 'rawengulklight';
  }

  h1 {
  // font-weight: 'rawengulklight';
  font-size: 80px;
  opacity: .5;
  letter-spacing: 8px;
  text-align: center;
  line-height: 0.8;
  margin: 0rem;
  }

  h2 {
  font-size: 52px;
  letter-spacing: 7px;
  text-align: center;
  line-height: 1.1;
  }

  h3 {
  font-family: 'rawengulkregular';
  font-size: 24px;
  opacity: .7;
  letter-spacing: 7px;
  text-align: center;
  line-height: 1.1;
  margin-top: 3%;
  margin-bottom: 1%;
  }

  p {
  font-family: 'rawengulkregular';
  font-size: 20px;
  text-align: justify;
  line-height: 1.4;
  opacity: .7;
  }
}
