.faq {
  overflow: hidden;
  // height: 30vh;
  background: rgba(98,17,11,1); /* red w/ opacity */
}
.faq-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3%;
}

.faq-body {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  max-width: 60%;
  // margin: auto 5%;
  margin-right: 5%;
}

.faq-body {
  // position: relative;
  h1, h2 {
  font-family: 'rawengulklight';
  color: white;
  }

  h1 {
  font-size: 72px;
  letter-spacing: 8px;
  text-align: right;
  line-height: 0.9;
  margin: 0rem;
  }

  h2 {
  font-size: 52px;
  letter-spacing: 7px;
  text-align: left;
  line-height: 1.1;
  }

  h3 {
  font-family: 'rawengulkregular';
  font-size: 24px;
  opacity: .7;
  letter-spacing: 7px;
  text-align: center;
  line-height: 1.1;
  margin-top: 3%;
  margin-bottom: 1%;
  }

  p {
  font-family: 'rawengulkregular';
  font-size: 20px;
  text-align: justify;
  line-height: 1.4;
  opacity: .7;
  }
}

.faq-accordion {
  // max-width: 300px;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  // flex-wrap: wrap;
  // margin: auto 5%;
  margin-right: 5%;
}
