.card-photo {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  //display: flex;
  //justify-content: space-around;
  //align-items: center;
}
