#map {
  overflow: hidden;
  width: 400px;
  height: 300px;
  max-width: 100%;
  max-height: 45%;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  box-shadow: 2px 2px 15px rgba(65, 72, 35, 0.8);
}

@media (max-width: 768px) {
  #map {
    height: 160px; /*img en paysage*/
    width: 650px;
    max-height: 50%;
  }
}

@media (max-width: 576px) {
  #map{
    width: 155px;
    height: 155px;
    max-height: 100%;
  }
}

@media (max-width: 400px) {
  #map {
    display: none;
  }
}
