.media {
  overflow: hidden;
  // height: 25vh;
  background: rgba(98,17,11,.8); /* red w/ opacity */
}

.media-container {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 2% 5%;
}

#tiamoVideo {
}

.media-video {
}

.media-body {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 3%;
  flex: 0 auto;
  h2 {
  font-family: 'rawengulklight';
  color: white;
  font-size: 64px;
  letter-spacing: 7px;
  text-align: left;
  line-height: 1;
  }
}

.media-social {
}

.social-link {
  padding-right: 2%;
  // margin-right: 5%;
  img {
    // background-color: white;
    // border-radius: 50%;
    // -webkit-box-shadow: 0 5px 11px 0 rgba(81,77,36,0.5),0 4px 15px 0 rgba(0,0,0,0.15);
    // box-shadow: 0 5px 11px 0 rgba(81,77,36,0.5),0 4px 15px 0 rgba(0,0,0,0.15);
  }

}
