.gallery {
  overflow: hidden;
  height: 100vh;
  background: white;
  //background: rgba(60,51,43,0.7);
  display: flex;
  //justify-content: center;
  //align-items: center;
}

.gallery-container {
  //overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  //justify-content: space-between;
  //align-items: center;
}

.views {
  //max-width: 960px;
  text-align: center;
  margin: 80px auto;
}

.view {
  //background-size: cover;
  //background-position: center;
  max-height: 200px;
  display: inline-block;
  margin: 10px 8px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  //transition: all 0.75s 0s ease-in;
  //z-index: 1;
}

#gallery-image {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  //background-position: 50% 50%;
  height: 100vh;
  //min-height: 73rem;
  min-width: 38%;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  font-family: 'Petit Formal Script';
  font-size: 88px;
  color: rgba(250,250,250,0.7);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  letter-spacing: 1px;
}
