.advice-container {
  // overflow: hidden;
  // height: 100vh;
  //display: flex;
  //flex-direction: row-reverse;
  background: white;
  //justify-content: space-between;
  //align-items: center;
}

.views {
  //display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  // align-self: center;
  margin: 40px 15px;
}
.views :last-child {
  //display: flex;
  //flex-wrap: wrap;
  justify-content: flex-start;
  // align-self: center;
  // margin: 40px 15px;
}

.view {
  //background-size: cover;
  //background-position: center;
  max-height: 150px;
  //display: inline-block;
  margin: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.3s;
  //transition: all 0.75s 0s ease-in;
  //z-index: 1;
}

.view:hover {opacity: 0.7;}

#advice-image {
  overflow: hidden;
  background-size: cover;
  // background-position: center;
  background-position: 22% 50%;
  height: 100vh;
  // min-height: 75rem;
  min-width: 38%;
  position: sticky;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  font-family: 'Petit Formal Script';
  font-size: 88px;
  color: rgba(250,250,250,0.7);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  letter-spacing: 1px;
}
