// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Flamenco:300,400|Hepta+Slab:100,200,300,400,500,600,700,800,900|Dancing+Script|Montez|Petit+Formal+Script|Playfair+Display:400,400i,700,700i,900,900i&display=swap");

// Define fonts for body and headers
$body-font: "Poppins", "Helvetica", "sans-serif";
$headers-font: 'rawengulkregular', "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
  @font-face {
    font-family: 'rawengulkbold';
    src: url('../fonts/rawengulkbold-webfont.woff2') format('woff2'),
         url('../fonts/rawengulkbold-webfont.woff') format('woff'),
         url('../fonts/RawengulkBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'rawengulkdemibold';
    src: url('../fonts/rawengulkdemibold-webfont.woff2') format('woff2'),
         url('../fonts/rawengulkdemibold-webfont.woff') format('woff'),
         url('../fonts/RawengulkDemibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'rawengulkregular';
    src: url('../fonts/rawengulkregular-webfont.woff2') format('woff2'),
         url('../fonts/rawengulkregular-webfont.woff') format('woff'),
         url('../fonts/RawengulkRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'rawengulklight';
    src: url('../fonts/rawengulklight-webfont.woff2') format('woff2'),
         url('../fonts/rawengulklight-webfont.woff') format('woff'),
         url('../fonts/RawengulkLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'rawengulkultralight';
    src: url('../fonts/rawengulkultralight-webfont.woff2') format('woff2'),
         url('../fonts/rawengulkultralight-webfont.woff') format('woff'),
         url('../fonts/RawengulkUltralight.otf') format('opentype');
    font-weight: ultralight;
    font-style: normal;

}
$my-font: "rawengulkregular";
