---
title: Carole Nogueira Comportementaliste Équin
---


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/adorable-animal-beautiful-614521.jpg);">
  <div class="container">
    <p><strong>Savoir faire une communication animale </strong>Poser les bonnes questions et emmener la personne à être à l’écoute des solutions.</p>
    <img src="images/cn_white_logo.png" alt="logo Comportementaliste équin" width="200px">
    <h1>COMPORTEMENTALISTE ÉQUIN</h1>
    <a class="btn btn-flat" href="#">
     <%= link_to "DÉCOUVREZ", "about.html" %>
    </a>
  </div>
</div>
