---
title: Carole Nogueira Comportementaliste Équin
---

<div class="banner" style="background-image: url(images/adorable-animal-beautiful-614521.jpg);">
  <div class="container">
    <img src="images/cn_white_logo.png" alt="logo Comportementaliste équin">
    <h1>COMPORTEMENTALISTE ÉQUIN</h1>
  </div>
</div>

<div class="card-about">
  <div id="card-about-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/animal-equestrian-field-2179955.jpg);">
    écoute
  </div>

  <div class="cards">
    <div class="card-about-infos">
      <h1>CAROLE</h1>
      <h1>NOGUEIRA</h1>
      <p>Ma passion pour les chevaux m'a amenée à acheter ma première jument. Rencontrant des difficultés avec elle, je me suis interrogée sur ces besoins, essayant de mieux la comprendre. Travaillant côte à côte, elle m’a guidée vers une meilleure compréhension de moi-même. Aujourd'hui, notre relation s’est transformée et <strong>un lien très fort s’est créé dans une confiance et un respect mutuel</strong>. J’ai envie de travailler différemment avec les chevaux, écouter ce qu’ils ont à me dire et les aider à améliorer leurs conditions de vie.</p>
    </div>

    <div class="card-about-infos">
      <h2>COMPORTEMENTALISTE</h2>
      <h2>ÉQUIN</h2>
      <p>Product description with <strong>relevant info</strong> only. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Veritatis laboriosam mollitia autem at ab omnis iure quis
      asperiores inventore eos nam aut iusto officiis deserunt
      nihil, sequi tempore impedit quae?</p>
    </div>

    <div class="card-about-infos">
      <h2>SOIN</h2>
      <h2>ÉNERGÉTIQUE</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Veritatis laboriosam mollitia autem at ab omnis iure quis asperiores inventore eos nam aut iusto officiis deserunt nihil, sequi tempore impedit quae?</p>
    </div>

  </div>
</div>

<div class="main-wrapper" style="background-image: url(images/animals-daylight-domestic-1808308.jpg);">
  <div class="wrapper">
    <div class="s-persp-container absolute topRight">
      <h3>liberté !</h3>
      <p>Être à l’écoute pour le comprendre, tisser ce lien, créer cette complicité avec votre cheval.</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="s-persp-container absolute bottomLeft">
      <h3>émotion !</h3>
      <p>Lui donner envie de s'engager dans la séance, limiter les contraintes au maximum,
      s'amuser, avoir des résultats rapides et durables.</p>
    </div>
  </div>
</div>


<div id="home">
  <p><strong>Savoir faire une communication animale </strong>Poser les bonnes questions et emmener la personne à être à l’écoute des solutions.</p>
  <img src="images/cn_white_logo.png" alt="logo Comportementaliste équin" width="200px">
  <h1>COMPORTEMENTALISTE ÉQUIN</h1>
  <a class="btn btn-flat" href="#">
    <%= link_to "DÉCOUVREZ", "about.html" %>
  </a>
</div>

