---
title: Carole Nogueira Comportementaliste Équin
---

<div class="banner" style="background-image: url(images/carole_nogueira_horse_with_hand_1400.jpg);">
  <div class="banner-container">
    <img src="images/cn_white_logo.png" alt="logo Comportementaliste équin">
    <h1>CAROLE NOGUEIRA</h1>
  </div>

</div>

<div class="about">
  <div class="about-container">
    <div id="about-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/oeil-carole-nogueira-1575.jpg);">
      lien
    </div>

    <div class="cards">
      <div class="card-about-infos">
        <h2>QUEL REGARD PORTE</h2>
        <h1>VOTRE CHEVAL
          <br>SUR VOUS ?
        </h1>
        <p>Vous êtes-vous posez la question ?
          <br>Vous voit-il comme un dresseur ou comme un partenaire ?
          <br><strong>Comme un cavalier qui cherche à le soumettre ou comme son meilleur ami ?</strong>
        </p>
      </div>

      <div class="card-about-infos">
        <h3>COMPORTEMENTALISTE
          <br>ÉQUIN</h3>
        <p>Mon objectif est de vous accompagner et de <strong>vous transmettre les clés</strong> afin de retrouver et d’<strong>aboutir à une relation harmonieuse entre vous et votre compagnon préféré</strong>. Eduquer, désensibiliser et jouer en liberté.
        Mettre en place des solutions afin de désamorcer des comportements déviants et retrouver une connexion avec votre cheval.</p>
      </div>

      <div class="card-about-infos">
        <h3>SOINS ÉNERGÉTIQUES
          <br>CHEVAL/CAVALIER</h3>
        <p>Ils consistent à faire circuler l’énergie harmonieusement dans tout le corps.
        Equilibrer le flux énergétique va permettre d’enlever les nœuds et stress autant mental que physique, l’harmonisation et la revitalisation du corps va permettre d’initier un processus d’auto-guérison.</p>
      </div>

      <div class="card-about-infos">
        <h3>ATELIERS</h3>
        <p>Dans vos écuries ou centre équestre en demi-journée :
        • initiation en « clicker training »,
        • Qi Gong.</p>
      </div>
    </div>
  </div>
</div>

<div class="main-wrapper" style="background-image: url(images/carole_nogueira_1400_20191126_151801.jpg);">
  <div class="wrapper">
    <div class="container-topRight">
      <h3>liberté !</h3>
      <p>Être à l’écoute pour le comprendre, tisser ce lien, créer cette complicité avec votre cheval.</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="container-bottomLeft">
      <h3>émotion !</h3>
      <p>Lui donner envie de s'engager dans la séance, limiter les contraintes au maximum,
      s'amuser, avoir des résultats rapides et durables.</p>
    </div>
  </div>
</div>

<div class="advice">
  <div class="advice-container d-flex">
    <div id="advice-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/carole_nogueira_1575_20191126_160107.jpg);">
          respect
    </div>
    <!-- Trigger the Modal : Images used to open the lightbox -->
    <div class="thumbnails d-flex flex-wrap">
      <div class="thumbnail-container" onclick="openModal();currentSlide(1)">
        <img src="images/chevaux-pre-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="chevaux au prè">
        <div class="overlay">
          <div class="text">Conditions de vie</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(2)">
        <img src="images/etzan-bache-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="exercice de la bâche">
        <div class="overlay">
          <div class="text">Avoir le choix</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(3)">
        <img src="images/cible-etzan-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval travaille à la cible">
        <div class="overlay">
          <div class="text">Baguette magique</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(4)">
        <img src="images/toucher-poubelle-carole-nogueira.jpg" class="thumbnail" alt="cheval touche la poubelle">
        <div class="overlay">
          <div class="text">“Touche”</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(5)">
        <img src="images/connexion-chevaux-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="Chevaux suivent le cavalier">
        <div class="overlay">
          <div class="text">Connexion</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(6)">
        <img src="images/ballon-jeu-chevaux-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="jeu de ballon avec deux chevaux">
        <div class="overlay">
          <div class="text">Ludique</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(7)">
        <img src="images/pression-hanche-etzan-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval apprend en douceur">
        <div class="overlay">
          <div class="text">Lien</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(8)">
        <img src="images/monter-a-cru-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="monter le cheval à cru">
        <div class="overlay">
          <div class="text">Cordelette</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(9)">
        <img src="images/van-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval monte dans le van">
        <div class="overlay">
          <div class="text">Clicker</div>
        </div>
      </div>

      <div class="thumbnail-container" onclick="openModal();currentSlide(10)">
        <img src="images/energetique-nueva-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval monte dans le van">
        <div class="overlay">
          <div class="text">Energétique</div>
        </div>
      </div>

    </div>

    <!-- The Carousel Modal -->
    <div id="myModal" class="modal-carousel">

    <!-- The Close Button -->
    <span class="close" onclick="closeModal()">&times;</span>

<!-- Modal Content (The Image) -->
    <div class="modal-content">


      <div class="mySlides">

        <figure>
          <div class="picture">
            <img src="images/chevaux-pre-carole-nogueira.jpg" class="left d-block w-100" alt="chevaux au pré">
          </div>
          <div class="caption">
            <h3>Conditions de vie</h3>
            <p>• Alimentation essentiellement fibreuse à volonté.
              <br>• Espace pour se déplacer.
              <br>• Présence et contact avec des congénères.
              <br>• Enrichir sa vie
              <br>• Varier les exercices
              <br>• Varier les activités
              <br>• Travail en liberté
              <br>• Balades
            </p>
          <div class="numbertext">1 / 10</div>

        </figure>
      </div>


      <div class="mySlides">

        <figure>

          <div class="picture">
            <img src="images/etzan-bache-carole-nogueira.jpg" class="left d-block w-100" alt="exercice de la bâche">
          </div>
          <div class="caption">
            <h3>Il n'y a pas de vérité sans liberté</h3>
            <p>LA BÂCHE DANS TOUTES SES DIMENSIONS
              <br>Pourquoi ne pas lui laisser le choix ? « vous faire confiance ou fuir ».
              <br>Quand la motivation à recevoir est plus forte que la peur tout devient plus simple !
            </p>
          </div>
          <div class="numbertext">2 / 10</div>

        </figure>
      </div>

      <div class="mySlides">

        <figure>

          <div class="picture">
            <img src="images/cible-etzan-carole-nogueira.jpg" class="left d-block w-100" alt="cheval travaille à la cible">
           </div>
          <div class="caption">
            <h3>La petite baguette magique</h3>
            <p>La cible est importante pour apprendre le « touche » qui va lui permettre par la suite de toucher
              tous les monstres.
              Elle indique également une direction, une allure.
              Je l’utilise également pour apprendre la distance de sécurité.
            </p>
          </div>
          <div class="numbertext">3 / 10</div>
        </figure>
      </div>

      <div class="mySlides">

        <figure>

          <div class="picture">
            <img src="images/toucher-poubelle-carole-nogueira.jpg" class="left d-block w-100" alt="cheval touche la poubelle">
          </div>
          <div class="caption">
            <h3>Désensibilisation sur le terrain</h3>
            <p>Apprendre à affronter « les monstres » sur le terrain.
              Le travail à pied est important, il va permettre de renforcer le lien.
              Ce qui est acquis à pied le sera à cheval.
              Lui apprendre à sentir tous « les monstres » lui permettra par la suite d’affronter ses peurs au lieu de les fuir.
              Le mot « touche » prend toute son importance.
              Le passage de la route pour l’habituer aux voitures, camions, tracteurs.
              La plage, les vagues, rentrer dans l’eau, les algues qui attaquent les chevaux…
              Ensuite à cheval, rentrer petit à petit tout ces éléments dans son quotidien.
            </p>
          </div>
          <div class="numbertext">4 / 10</div>
        </figure>
      </div>

      <div class="mySlides">
        <figure>

          <div class="picture">
            <img src="images/connexion-chevaux-carole-nogueira.jpg" class="left d-block w-100" alt="buffalo plage">
          </div>
          <div class="caption">
            <h3>Miroir de nos émotions</h3>
            <p>Être dans la sensation très précise de son corps, grâce au retour à soi.
              Se connecter énergétiquement avec son cheval.
              Ne faire qu’un avec son cheval.
              Se bander les yeux facilite à monter en conscience.
              Cette façon d’être positionner intérieurement vous permettra de développer un lien énergétique entre vous et votre cheval.
            </p>
          </div>
          <div class="numbertext">5 / 10</div>
        </figure>

      </div>

      <div class="mySlides">
        <figure>
          <div class="picture">
          <img src="images/ballon-jeu-chevaux-carole-nogueira.jpg" class="left d-block w-100" alt="jeu de ballon avec deux chevaux">
          </div>

          <div class="caption">
            <h3>Apprendre en s'amusant</h3>
            <p>Mettre du « fun » pour enrichir sa vie.
              Le travail devient ludique pour le cheval comme pour le cavalier.
              Lui permettre de s’exprimer dans le conditionnement opérant.
              Dynamiser une séance avec un cheval un peu mou mais également canaliser un cheval trop actif.
              Ballon, piscine, piquet.
            </p>
          </div>
          <div class="numbertext">6 / 10</div>
        </figure>

      </div>

      <div class="mySlides">
        <figure>
          <div class="picture">
          <img src="images/pression-hanche-etzan-carole-nogueira.jpg" class="left d-block w-100" alt="cheval apprend en douceur">
          </div>

          <div class="caption">
            <h3>Éducation</h3>
            <p>Le seul lien efficace sera celui que vous tisserez entre vous et votre cheval
              Sans attache et sans pression pour un apprentissage tout en douceur.
              Faites -lui confiance et il vous fera confiance.
            </p>
          </div>
          <div class="numbertext">7 / 10</div>
        </figure>

      </div>

      <div class="mySlides">
        <figure>
          <div class="picture">
          <img src="images/monter-a-cru-carole-nogueira.jpg" class="left d-block w-100" alt="monter le cheval à cru">
          </div>

          <div class="caption">
            <h3>Le respect du cheval c’est la fondation de la Liberté (Gruss)</h3>
            <p>L’évolution du filet au licol à la cordelette.
              Monter en connexion permet une équitation en conscience pour un bonheur partagé avec son cheval.
            </p>
          </div>
        <div class="numbertext">8 / 10</div>
        </figure>

      </div>

      <div class="mySlides">
        <figure>
          <div class="picture">
          <img src="images/van-carole-nogueira.jpg" class="left d-block w-100" alt="cheval monte dans le van">
          </div>

          <div class="caption">
            <h3>DEMANDER SOUVENT, SE CONTENTER DE PEU ET RECOMPENSER BEAUCOUP !</h3>
            <p> Le clicker va permettre de changer l’émotion du cheval.
              Le van va devenir agréable et confortable
              On va tellement renforcer le bon comportement que le problème va se désamorcer petit à petit.
              La patience et le calme sont de rigueur !
            </p>
          </div>
          <div class="numbertext">9 / 10</div>
        </figure>

      </div>

      <div class="mySlides">
        <figure>
          <div class="picture">
          <img src="images/energetique-nueva-carole-nogueira.jpg" class="left d-block w-100" alt="cheval monte dans le van">
          </div>

          <div class="caption">
            <h5>Soin énergétique</h5>
            <p>Il va permettre d’évacuer les énergies en les débloquant afin de faire circuler librement l’énergie
              dans tout le corps.
              Le corps va utiliser ses propres ressources pour déclencher une auto-guérison.
              On peut apercevoir immédiatement sur le cheval les signaux d’apaisement et de sérénité.
            </p>
          </div>
          <div class="numbertext">10 / 10</div>
        </figure>

      </div>

      <!-- Next/previous controls -->
      <a class="arrow arrow-prev" onclick="plusSlides(-1)"></a>
      <a class="arrow arrow-next" onclick="plusSlides(1)"></a>

      <!-- Caption container
      <div class="caption-container">
        <p id="caption"></p> -->
      </div>
    </div>
  </div>
</div>

<div class="contact" style="background-image: url(images/horse_pasture_ocean.jpg);">
  <div class="contact-container">
    <div class="contact-title">
      <h2>CONTACTEZ-MOI</h2>
      <p>If you have any questions, please feel free to contact us by phone, email or by completing the enquiry form below.
      </p>
    </div>

    <div class="form-info-container">

      <form action="https://formspree.io/mnqjyobo" method="POST" class="form">
        <div class="form-guest">
          <!-- <label for="Firstname">Firstname</label> -->
          <input class="form-control-guest" type="text" placeholder="Votre prénom" id="firstname">
        </div>

        <div class="form-guest">
          <!-- <label for="Lastname"></label> -->
          <input class="form-control-guest" type="text" placeholder="Votre nom" id="lastname">
        </div>

        <div class="form-guest">
          <!-- <label for="exampleInputEmail1"></label> -->
          <input type="email" name="_replyto" class="form-control-guest" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre email">
          <p id="emailHelp" class="form-text-mention">We'll never share your email with anyone else.</p>
        </div>

        <div class="form-guest">
          <!-- <label for="textarea"></label> -->
          <textarea class="form-control-message" type="text" name="message" placeholder="Your message here" id="textarea" rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-form-contact">ENVOYER</button>

      </form>

      <div class="info-container">
        <div class="info-map">
          <i class="fas fa-map-marker-alt"></i>
          <p>Horse StreetName
            64500 Zip Town
          </p>
          <br>
          <i class="fas fa-mobile-alt"></i>
          <p>+33 6 60 97 33 55</p>
        </div>

        <img id="map" src="images/map_erromardie.png" alt="localisation">
      </div>
    </div>
  </div>
</div>


<div class="redfun">
  <div class="cardfun-container">
    <div class="mySpace">

          <div class="view">
            <img src="images/chevaux-pre-carole-nogueira.jpg" class="image" alt="chevaux au pré">
          </div>
          <div class="figcaption">
            <h3>Conditions de vie</h3>
            <p>• Alimentation essentiellement fibreuse à volonté.
              <br>• Espace pour se déplacer.
              <br>• Présence et contact avec des congénères.
              <br>• Enrichir sa vie
              <br>• Varier les exercices
              <br>• Varier les activités
              <br>• Travail en liberté
              <br>• Balades
            </p>

          <div class="numbertext">1 / 10</div>

      </div>
  </div>

</div>
