---
title: Carole Nogueira Comportementaliste Équin
---

<div class="banner" style="background-image: url(images/carole_nogueira_horse_with_hand_1400.jpg);">
  <div class="banner-container">
    <img src="images/cn_white_logo.png" alt="logo Comportementaliste équin">
    <h1>CAROLE NOGUEIRA</h1>
  </div>

</div>

<div class="about">
  <div class="about-container">
    <div id="about-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/oeil-carole-nogueira-1575.jpg);">
      regard
    </div>

    <div class="cards">
      <div class="card-about-infos">
        <h1>CAROLE</h1>
        <h2>NOGUEIRA</h2>
        <p>QUEL REGARD PORTE VOTRE CHEVAL SUR VOUS ?
Vous êtes-vous posez la question ?
Vous voit-il comme un dresseur ou comme un partenaire ?
<strong>Comme un cavalier qui cherche à le soumettre ou comme son meilleur ami ?</strong></p>
      </div>

      <div class="card-about-infos">
        <h3>COMPORTEMENTALISTE</h3>
        <h3>ÉQUIN</h3>
        <p>Mon objectif est de vous accompagner et de <strong>vous transmettre les clés</strong> afin de retrouver et d’<strong>aboutir à une relation harmonieuse entre vous et votre compagnon préféré</strong>. Eduquer, désensibiliser et jouer en liberté.
        Mettre en place des solutions afin de désamorcer des comportements déviants et retrouver une connexion avec votre cheval.</p>
      </div>

      <div class="card-about-infos">
        <h3>SOINS ÉNERGÉTIQUES</h3>
        <h3>CHEVAL/CAVALIER</h3>
        <p>Ils consistent à faire circuler l’énergie harmonieusement dans tout le corps.
        Equilibrer le flux énergétique va permettre d’enlever les nœuds et stress autant mental que physique, l’harmonisation et la revitalisation du corps va permettre d’initier un processus d’auto-guérison.</p>
      </div>

      <div class="card-about-infos">
        <h3>ATELIERS</h3>
        <p>Dans vos écuries ou centre équestre en demi-journée :
        • initiation en « clicker training »,
        • Qi Gong.</p>
      </div>
    </div>
  </div>
</div>

<div class="main-wrapper" style="background-image: url(images/animals-daylight-domestic-1808308_1400.jpg);">
  <div class="wrapper">
    <div class="s-persp-container absolute topRight">
      <h3>liberté !</h3>
      <p>Être à l’écoute pour le comprendre, tisser ce lien, créer cette complicité avec votre cheval.</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="s-persp-container absolute bottomLeft">
      <h3>émotion !</h3>
      <p>Lui donner envie de s'engager dans la séance, limiter les contraintes au maximum,
      s'amuser, avoir des résultats rapides et durables.</p>
    </div>
  </div>
</div>

<div class="advice">
  <div class="advice-container d-flex flex-row-reverse">
    <div id="advice-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/carole_nogeira_1400_20191126_160120.jpg);">
          respect
    </div>
    <!-- Trigger the Modal : Images used to open the lightbox -->
    <div class="thumbnails d-flex flex-wrap">
      <div class="thumbnailcontainer" onclick="openModal();currentSlide(1)">
        <img src="images/chevaux-pre-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="chevaux au prè">
        <div class="overlay">
          <div class="text">Conditions de vie</div>
        </div>
      </div>

      <div class="thumbnailcontainer" onclick="openModal();currentSlide(2)">
        <img src="images/etzan-bache-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="exercice de la bâche">
        <div class="overlay">
          <div class="text">Avoir le choix</div>
        </div>
      </div>

      <div class="thumbnailcontainer" onclick="openModal();currentSlide(3)">
        <img src="images/cible-etzan-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval travaille à la cible">
        <div class="overlay">
          <div class="text">Baguette magique</div>
        </div>
      </div>

      <div class="thumbnailcontainer" onclick="openModal();currentSlide(4)">
        <img src="images/toucher-poubelle-carole-nogueira.jpg" class="thumbnail" alt="cheval touche la poubelle">
        <div class="overlay">
          <div class="text">“Touche”</div>
        </div>
      </div>

      <div class="thumbnailcontainer" onclick="openModal();currentSlide(5)">
        <img src="images/connexion-chevaux-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="Chevaux suivent le cavalier">
        <div class="overlay">
          <div class="text">Connexion</div>
        </div>
      </div>

      <div class="thumbnailcontainer" onclick="openModal();currentSlide(6)">
        <img src="images/ballon-jeu-chevaux-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="jeu de ballon avec deux chevaux">
        <div class="overlay">
          <div class="text">Ludique</div>
        </div>
      </div>

      <div class="thumbnailcontainer" onclick="openModal();currentSlide(7)">
        <img src="images/pression-hanche-etzan-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval apprend en douceur">
        <div class="overlay">
          <div class="text">Lien</div>
        </div>
      </div>

      <div class="thumbnailcontainer" onclick="openModal();currentSlide(8)">
        <img src="images/monter-a-cru-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="monter le cheval à cru">
        <div class="overlay">
          <div class="text">Cordelette</div>
        </div>
      </div>

      <div class="thumbnailcontainer" onclick="openModal();currentSlide(9)">
        <img src="images/van-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval monte dans le van">
        <div class="overlay">
          <div class="text">Clicker</div>
        </div>
      </div>

      <div class="thumbnailcontainer" onclick="openModal();currentSlide(10)">
        <img src="images/energetique-nueva-thumbnail-carole-nogueira.jpg" class="thumbnail" alt="cheval monte dans le van">
        <div class="overlay">
          <div class="text">Energétique</div>
        </div>
      </div>

    </div>

    <!-- The Carousel Modal -->
    <div id="myModal" class="modal-carousel">

    <!-- The Close Button -->
    <span class="close" onclick="closeModal()">&times;</span>

    <!-- Modal Content (The Image) -->
    <div class="modal-content">

      <div class="mySlides">
        <div class="numbertext">1 / 10</div>
        <img src="images/chevaux-pre-carole-nogueira.jpg" class="d-block w-100" alt="chevaux au pré">
        <div class="caption">
          <h5>Conditions de vie</h5>
          <p>Alimentation essentiellement fibreuse à volonté.
          Espace pour se déplacer.
          Présence et contact avec des congénères.
          Enrichir sa vie
          Varier les exercices
          Varier les activités
          Travail en liberté
          Balades</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 10</div>
        <img src="images/etzan-bache-carole-nogueira.jpg" class="d-block w-100" alt="exercice de la bâche">
        <div class="caption">
          <h5>IL N’Y A PAS DE VERITE SANS LIBERTE</h5>
          <p>LA BÂCHE DANS TOUTES SES DIMENSIONS
          Pourquoi ne pas lui laisser le choix ? « vous faire confiance ou fuir ».
          Quand la motivation à recevoir est plus forte que la peur tout devient plus simple !</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 10</div>
        <img src="images/cible-etzan-carole-nogueira.jpg" class="d-block w-100" alt="cheval travaille à la cible">
        <div class="caption">
          <h5>LA PETITE BAGUETTE MAGIQUE</h5>
          <p>La cible est importante pour apprendre le « touche » qui va lui permettre par la suite de toucher tous les monstres.
Elle indique également une direction, une allure.
Je l’utilise également pour apprendre la distance de sécurité.</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">4 / 10</div>
        <img src="images/toucher-poubelle-carole-nogueira.jpg" class="d-block w-100" alt="cheval touche la poubelle">
        <div class="caption">
          <h5>DESENSIBILISATION SUR LE TERRAIN</h5>
          <p>Apprendre à affronter « les monstres » sur le terrain.
          Le travail à pied est important, il va permettre de renforcer le lien.
          Ce qui est acquis à pied le sera à cheval.
          Lui apprendre à sentir tous « les monstres » lui permettra par la suite d’affronter ses peurs au lieu de les fuir.
          Le mot « touche » prend toute son importance.
          Le passage de la route pour l’habituer aux voitures, camions, tracteurs.
          La plage, les vagues, rentrer dans l’eau, les algues qui attaquent les chevaux…
          Ensuite à cheval, rentrer petit à petit tout ces éléments dans son quotidien.</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">5 / 10</div>
        <img src="images/connexion-chevaux-carole-nogueira.jpg" class="d-block w-100" alt="buffalo plage">
        <div class="caption">
          <h5>MIROIR DE NOS EMOTIONS</h5>
          <p>Être dans la sensation très précise de son corps, grâce au retour à soi.
Se connecter énergétiquement avec son cheval.
Ne faire qu’un avec son cheval.
Se bander les yeux facilite à monter en conscience.
Cette façon d’être positionner intérieurement vous permettra de développer un lien énergétique entre vous et votre cheval.</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">6 / 10</div>
        <img src="images/ballon-jeu-chevaux-carole-nogueira.jpg" class="d-block w-100" alt="jeu de ballon avec deux chevaux">
        <div class="caption">
          <h5>Apprendre en s'amusant</h5>
          <p>Mettre du « fun » pour enrichir sa vie. Le travail devient ludique pour le cheval comme pour le cavalier.
Lui permettre de s’exprimer dans le conditionnement opérant.
Dynamiser une séance avec un cheval un peu mou mais également canaliser un cheval trop actif.
Ballon, piscine, piquet.</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">7 / 10</div>
        <img src="images/pression-hanche-etzan-carole-nogueira.jpg" class="d-block w-100" alt="cheval apprend en douceur">
        <div class="caption">
          <h5>Éducation</h5>
          <p>Le seul lien efficace sera celui que vous tisserez entre vous et votre cheval
Sans attache et sans pression pour un apprentissage tout en douceur.
Faites -lui confiance et il vous fera confiance.</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">8 / 10</div>
        <img src="images/monter-a-cru-carole-nogueira.jpg" class="d-block w-100" alt="monter le cheval à cru">
        <div class="caption">
          <h5>LE RESPECT DU CHEVAL C’EST LA FONDATION DE LA LIBERTE (Gruss)</h5>
          <p>L’évolution du filet au licol à la cordelette.
Monter en connexion permet une équitation en conscience pour un bonheur partagé avec son cheval</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">9 / 10</div>
        <img src="images/van-carole-nogueira.jpg" class="d-block w-100" alt="cheval monte dans le van">
        <div class="caption">
          <h5>DEMANDER SOUVENT, SE CONTENTER DE PEU ET RECOMPENSER BEAUCOUP !</h5>
          <p> Le clicker va permettre de changer l’émotion du cheval.
Le van va devenir agréable et confortable
On va tellement renforcer le bon comportement que le problème va se désamorcer petit à petit.
La patience et le calme sont de rigueur !</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">10 / 10</div>
        <img src="images/energetique-nueva-carole-nogueira.jpg" class="d-block w-100" alt="cheval monte dans le van">
        <div class="caption">
          <h5>SOIN ENERGETIQUE</h5>
          <p>Il va permettre d’évacuer les énergies en les débloquant afin de faire circuler librement l’énergie dans tout le corps.
Le corps va utiliser ses propres ressources pour déclencher une auto-guérison.
On peut apercevoir immédiatement sur le cheval les signaux d’apaisement et de sérénité.</p>
        </div>
      </div>

      <!-- Next/previous controls -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- Caption container
      <div class="caption-container">
        <p id="caption"></p> -->
      </div>
    </div>
  </div>
</div>

<div class="contact" style="background-image: url(images/horse_pasture_ocean.jpg);">
  <div class="contact-container">
    <div class="contact-title">
    <h2>CONTACTEZ-MOI</h2>
    <p>If you have any questions, please feel free to contact us by phone, email or by completing the enquiry form below.</p>
  </div>

  <div class="form-info-container">

    <form action="https://formspree.io/mnqjyobo" method="POST" class="form">
      <div class="form-guest">
        <!-- <label for="Firstname">Firstname</label> -->
        <input class="form-control-guest" type="text" placeholder="Votre prénom" id="firstname">
      </div>

      <div class="form-guest">
        <!-- <label for="Lastname"></label> -->
        <input class="form-control-guest" type="text" placeholder="Votre nom" id="lastname">
      </div>

      <div class="form-guest">
        <!-- <label for="exampleInputEmail1"></label> -->
        <input type="email" class="form-control-guest" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre email">
        <p id="emailHelp" class="form-text-mention">We'll never share your email with anyone else.</p>
      </div>

      <div class="form-guest">
        <!-- <label for="textarea"></label> -->
        <textarea class="form-control-message" type="text"  placeholder="Your message here" id="textarea" rows="5"></textarea>
      </div>

      <button type="submit" class="btn btn-form-contact">ENVOYER</button>

      </form>
</div>
      <div class="info-container">
        <div class="info-map">
          <i class="fas fa-map-marker-alt"></i>
          <p>Horse StreetName
          64500 Zip Town</p>
        <br>
        <i class="fas fa-mobile-alt"></i>
          <p>+33 6 60 97 33 55</p>
        </div>

        <img id="map" src="images/map_erromardie.png" alt="localisation">
      </div>


  </div>
</div>
