---
title: Carole Nogueira Comportementaliste Équin
---

<div class="banner" style="background-image: url(images/carole_nogueira_horse_with_hand_1400.jpg);">
  <div class="banner-container">
    <img src="images/cn_white_logo.png" alt="logo Comportementaliste équin">
    <h1>CAROLE NOGUEIRA</h1>
  </div>

</div>

<div class="about">
  <div class="about-container">
    <div id="about-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/carole_nogeira_1400_20191126_160120.jpg);">
      écoute
    </div>

    <div class="cards">
      <div class="card-about-infos">
        <h1>CAROLE</h1>
        <h2>NOGUEIRA</h2>
        <p>Ma passion pour les chevaux m'a amenée à acheter ma première jument. Rencontrant des difficultés avec elle, je me suis interrogée sur ces besoins, essayant de mieux la comprendre. Travaillant côte à côte, elle m’a guidée vers une meilleure compréhension de moi-même. Aujourd'hui, notre relation s’est transformée et <strong>un lien très fort s’est créé dans une confiance et un respect mutuel</strong>. J’ai envie de travailler différemment avec les chevaux, écouter ce qu’ils ont à me dire et les aider à améliorer leurs conditions de vie.</p>
      </div>

      <div class="card-about-infos">
        <h3>COMPORTEMENTALISTE</h3>
        <h3>ÉQUIN</h3>
        <p>Mon objectif est de vous accompagner et de <strong>vous transmettre les clés</strong> afin de retrouver et d’<strong>aboutir à une relation harmonieuse entre vous et votre compagnon préféré</strong>. Eduquer, désensibiliser et jouer en liberté.
        Mettre en place des solutions afin de désamorcer des comportements déviants et retrouver une connexion avec votre cheval.</p>
      </div>

      <div class="card-about-infos">
        <h3>SOINS ÉNERGÉTIQUES</h3>
        <h3>CHEVAL/CAVALIER</h3>
        <p>Ils consistent à faire circuler l’énergie harmonieusement dans tout le corps.
        Equilibrer le flux énergétique va permettre d’enlever les nœuds et stress autant mental que physique, l’harmonisation et la revitalisation du corps va permettre d’initier un processus d’auto-guérison.</p>
        <p>Je propose également des ateliers en demi-journée pour de l’initiation en « clicker training », Qi Gong dans vos écuries ou centre équestre.</p>
      </div>
    </div>
  </div>
</div>

<div class="main-wrapper" style="background-image: url(images/animals-daylight-domestic-1808308_1400.jpg);">
  <div class="wrapper">
    <div class="s-persp-container absolute topRight">
      <h3>liberté !</h3>
      <p>Être à l’écoute pour le comprendre, tisser ce lien, créer cette complicité avec votre cheval.</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="s-persp-container absolute bottomLeft">
      <h3>émotion !</h3>
      <p>Lui donner envie de s'engager dans la séance, limiter les contraintes au maximum,
      s'amuser, avoir des résultats rapides et durables.</p>
    </div>
  </div>
</div>

<div class="gallery">
  <div class="views-image-container d-flex flex-row-reverse">
    <div id="gallery-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(images/carole_nogueira_1400_20191126_155701.jpg);">
          gallery
    </div>
    <!-- Trigger the Modal : Images used to open the lightbox -->
    <div class="views d-flex flex-wrap">
      <img src="images/animal-blur-horse-257573.jpg" class="view" onclick="openModal();currentSlide(1)" alt="horse blur">
      <img src="images/animals-daylight-domestic-1808308.jpg" class="view" onclick="openModal();currentSlide(2)" alt="horse daylight">
      <img src="images/animal-blur-horse-257573.jpg" class="view" onclick="openModal();currentSlide(3)" alt="horse blur">
      <img src="images/animals-daylight-domestic-1808308.jpg" class="view" onclick="openModal();currentSlide(4)" alt="horse daylight">
      <img src="images/animal-blur-horse-257573.jpg" class="view" onclick="openModal();currentSlide(4)" alt="horse blur">
      <img src="images/animals-daylight-domestic-1808308.jpg" class="view" onclick="openModal();currentSlide(6)" alt="horse daylight">
      <img src="images/animal-blur-horse-257573.jpg" class="view" onclick="openModal();currentSlide(7)" alt="horse blur">
      <img src="images/animals-daylight-domestic-1808308.jpg" onclick="openModal();currentSlide(8)" class="view" alt="horse daylight">
      <img src="images/animal-blur-horse-257573.jpg" class="view" onclick="openModal();currentSlide(9)" alt="horse blur">
      <img src="images/animals-daylight-domestic-1808308.jpg" class="view" onclick="openModal();currentSlide(10)" alt="horse daylight">
    </div>

    <!-- The Carousel Modal -->
    <div id="myModal" class="modal-carousel">

    <!-- The Close Button -->
    <span class="close" onclick="closeModal()">&times;</span>

    <!-- Modal Content (The Image) -->
    <div class="modal-content">

      <div class="mySlides">
        <div class="numbertext">1 / 4</div>
        <img src="images/animal-blur-horse-257573.jpg" class="d-block w-100" alt="horse daylight">
        <div class="caption">
          <h5>animals daylight domestic</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">2 / 4</div>
        <img src="images/animals-daylight-domestic-1808308.jpg" class="d-block w-100" alt="horse blur">
        <div class="caption">
          <h5>animal blur horse</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">3 / 4</div>
        <img src="images/animal-animal-photography-blur-1454871.jpg" class="d-block w-100" alt="horse countryside">
        <div class="caption">
          <h5>animal photography countryside</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>

      <div class="mySlides">
        <div class="numbertext">4 / 4</div>
        <img src="images/animals-daylight-domestic-1808308.jpg" class="d-block w-100" alt="horse daylight">
        <div class="caption">
          <h5>animals-daylight-domestic</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>

      <!-- Next/previous controls -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- Caption container
      <div class="caption-container">
        <p id="caption"></p> -->
      </div>
    </div>
  </div>
</div>

<div class="contact" style="background-image: url(images/horse_pasture_ocean.jpg);">
  <div class="contact-container">
    <div class="contact-title">
    <h2>CONTACTEZ-MOI</h2>
    <p>If you have any questions, please feel free to contact us by phone, email or by completing the enquiry form below.</p>
  </div>

  <div class="form-info-container">

    <form action="#" class="form">
      <div class="form-guest">
        <!-- <label for="Firstname">Firstname</label> -->
        <input class="form-control-guest" type="text" placeholder="First name" id="firstname">
      </div>

      <div class="form-guest">
        <!-- <label for="Lastname"></label> -->
        <input class="form-control-guest" type="text" placeholder="Last name" id="lastname">
      </div>

      <div class="form-guest">
        <!-- <label for="exampleInputEmail1"></label> -->
        <input type="email" class="form-control-guest" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <p id="emailHelp" class="form-text-mention">We'll never share your email with anyone else.</p>
      </div>

      <div class="form-guest">
        <!-- <label for="textarea"></label> -->
        <textarea class="form-control-message" type="text"  placeholder="Your message here" id="textarea" rows="5"></textarea>
      </div>

      <button type="submit" class="btn btn-form-contact">SUBMIT</button>

      </form>
</div>
      <div class="info-container">
        <div class="info-map">
          <i class="fas fa-map-marker-alt"></i>
          <p>Horse StreetName
          64500 Zip Town</p>
        <br>
        <i class="fas fa-mobile-alt"></i>
          <p>+33 6 60 97 33 55</p>
        </div>

        <img id="map" src="images/map_erromardie.png" alt="localisation">
      </div>


  </div>
</div>
